* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:beige;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
p.solid {
    border-style: solid;
}

.solid {
  border: 2px solid salmon;
  background-color: salmon;
  padding: 5px;
}
#id1,#id2,#id3{
    padding-left:5px;
    float:left;

}
table, th, td {
    border:4px solid black;
    border-collapse:collapse;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  #img1,#img2,#img3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .max{
    display: block;
    margin-left: auto;
    margin-right: auto;
     
  }
  #ter1,#ter2{
    text-align: center;
    font-size:20px;
  }
  #i1,#i2,#i3{
    padding-left:5px;
    float:left;

  }